// Define variables for your color scheme

// For example:
$light-gray: #F4F4F4;
$stg-gray: #3e3e3e;
$gray2: #717171;
$color-background:#ffff;
$body-color:rgb(3, 3, 3);//form color letter
$gray1:#f2f2f2;
$red:#c53c12;
$danger:#c53c12;
