<section id="start" class="start" >
  <h1>RESTAURANT APP</h1>
  <div class="container-home">
    <div class="row" >

      <p>Find me in app/views/pages/home.html.erb</p>
      <div class="col-lg-6 d-flex flex-column justify-content-center">
      </div>

      <h1>60 milhões de pedidos em apenas um mês</h1>
      <div class="text-center text-lg-start">
        <button id= "btn"class="btn btn-dangerous" type= "button">Get Started</button>
      </div>

      <div class="col-lg-6 hero-img"> 
        <img  src = "https://res.cloudinary.com/dshygft5r/image/upload/v1645751978/cozinha_bxaa3v.jpg" >

<%# <%= cl_image_tag("IMAGE_WITH_FACE_ID",
      width: 150, height: 150, crop: :thumb, gravity: :face) %> %>
        <img class="img-fluid" src="" alt="">
      </div>

    </div>
  </div>
</section>
  <%#
    <div>
      <p>Mercados famosos no iFood</p>
      <h1>Como funciona</h1>
      <p>Experimente fazer delivery de mercado pelo site ou aplicativo do iFood</p>
    </div> %>

<section id="services" class="services" >
  <div class="container-home">

    <header class="section-header">
      <h1>Cadastre sua loja</h1>
      <p>Entre e ganhe 1 mês de mensalidade grátis!</p>
    </header>

    <div class="row gy-4">

      <div class="col">
        <div class="service-box blue">
          <div style="box-sizing: border-box; display: block; max-width: 100%;">
            <img src="assets/images/bolsa.jpg" alt="Ilustração da bolsa">
          </div>
            <h4 class="title-home">Food Shop</h4>
            <p>Escolha onde pedir entre as várias opções perto de você</p>
        </div>
      </div>

      <div class="col">
        <div class="service-box blue">
          <div style="box-sizing: border-box; display: block; max-width: 100%;"></div>
            <img src="" alt="Ilustração chapeu do chefe">
            <h4 class="title-home">Vantagens do Chef</h4>
            <p>Pães, hortaliças, itens de limpeza, carnes e muito mais</p>
        </div>
      </div>

      <div class="col">
        <div class="service-box blue">
          <div style="box-sizing: border-box; display: block; max-width: 100%;"></div>
            <img src="" alt="Ilustração monitor">
            <h4 class="title-home">Cardápio Digital</h4>
            <p>É só agendar a entrega para o dia e a hora que preferir</p>
        </div>
      </div>

      <div class="col">
        <div class="service-box blue">
          <div style="box-sizing: border-box; display: block; max-width: 100%;"></div>
            <img src="" alt="Ilustração mesa e cadeira">
            <h4 class="title-home">Na Mesa</h4>
            <p>É só agendar a entrega para o dia e a hora que preferir</p>
        </div>
      </div>
    </div>
    <div class = "justify-content-center">
      <h2>Venda mais com o iFood</h2>
    </div>
  </div>
</section>

<footer>
  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      This footer is made with <i class="fas fa-heart"></i> at Ruby
    </div>
  </div>
</footer>
