<section id="start" class="start" >
      <div class="section-header">
        <h1>RESTAURANT APP</h1>
        <h1>Tudo pra facilitar seu dia a dia</h1>
      </div>
  <div class="container-home banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
    <div class="row" >
        <%# <button id= "btn"class="btn" type= "button">Get Started</button>
        <div class="col-lg-12 hero-img">
          <img  src = "https://res.cloudinary.com/dshygft5r/image/upload/v1645751978/cozinha_bxaa3v.jpg" > %>
      <div class="container-h1" style="display: grid; gap: 48px">
        <h1>60 milhões de pedidos em apenas um mês</h1>
        <p>Esse é o alcance das lojas parceiras do iFood. Faça parte e alavanque suas vendas.</p>
      </div>
      <div class="d-grid gap-2 col-6 mx-auto">
        <%= link_to "Cadastrar agora", new_user_session_path,
         class: "btn btn-danger" %>
      </div>



    </div>
  </div>
</section>
  <%#
    <div>
      <p>Mercados famosos no iFood</p>
      <h1>Como funciona</h1>
      <p>Experimente fazer delivery de mercado pelo site ou aplicativo do iFood</p>
    </div> %>

<section id="services" class="services" >

    <header class="section-header">
      <h1>Cadastre sua loja</h1>
      <p>Entre e ganhe 1 mês de mensalidade grátis!</p>
    </header>
  <div class="container-home banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">

    <div class="row gy-4">

      <div class="col">
        <div class="service-box blue">
          <div style="box-sizing: border-box; display: block; max-width: 100%;">
            <img src="assets/images/bolsa.jpg" alt="Ilustração da bolsa">
          </div>
            <h4 class="title-home">Food Shop</h4>
            <p>Escolha onde pedir entre as várias opções perto de você</p>
        </div>
      </div>

      <div class="col">
        <div class="service-box blue">
          <div style="box-sizing: border-box; display: block; max-width: 100%;"></div>
            <img src="" alt="Ilustração chapeu do chefe">
            <h4 class="title-home">Vantagens do Chef</h4>
            <p>Pães, hortaliças, itens de limpeza, carnes e muito mais</p>
        </div>
      </div>

      <div class="col">
        <div class="service-box blue">
          <div style="box-sizing: border-box; display: block; max-width: 100%;"></div>
            <img src="" alt="Ilustração monitor">
            <h4 class="title-home">Cardápio Digital</h4>
            <p>É só agendar a entrega para o dia e a hora que preferir</p>
        </div>
      </div>

      <div class="col">
        <div class="service-box blue">
          <div style="box-sizing: border-box; display: block; max-width: 100%;"></div>
            <img src="" alt="Ilustração mesa e cadeira">
            <h4 class="title-home">Na Mesa</h4>
            <p>É só agendar a entrega para o dia e a hora que preferir</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row gy-6">
    <div class="section-header">
      <h2>Venda mais com o iFood</h2>
      <img src="..." class="rounded float-start" alt="...">
    </div>
  </div>

</section>

<footer>
  <div class="row gy-4">
    <div class="footer footer-box">
      <div class="col text-center">
        <h2>Descubra</h2>
        <p>Cadastre seu restaurante</p>
      </div>
      <div class="col text-center">
        <h3>Social</h3>
            <div class="footer-links">
              <a href="#"><i class="fab fa-github"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-linkedin"></i></a>
            </div>
      </div>
      <div class="col text-center">
        <p>This footer is made with <i class="fas fa-heart"></i> at Ruby</p>
      </div>
    </div>
  </div>
</footer>
