.map {
  height: 350px;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
}

.content-b {
  border-radius: 8px;
}
.container-home {
 max-width: 1000px;
 margin: 0px auto;
 padding-top: 56px;
}
