.content {
  display: flex;
  background-color: $body-color;
}

.card {
  background-size: cover;
  background-position: center;
  font-weight: bolder;
  display: flex;
  background-color: $body-color;
  border-style: hidden;
  // height: 260px;
  // align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: $gray2;
  &:hover {
    background-color: $gray1;
    border-radius: 12px;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
  }
}


// TITLE RESTAURANT
.title_card{
  color: $stg-gray;
  font-size: .875rem;
  line-height: .875rem;
  font-weight: 500;
  display: block;
  white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
  padding: 16px;
  margin: 12px;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  p{
    color: $gray2;
  }
}

.cards {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
  grid-template-columns: 85px 1fr;
  grid-column-gap: 20px;
  cursor: pointer;
  margin: 20px;
}
.card-actions {
  position: relative;
  background-color: inherit;
  padding: 16px 32px;
  a {
    text-decoration: none;
    padding: 8px;
    margin: 8PX;
    &:hover {
      border:solid 1px rgba(33, 33, 33, 0.212);
      border-radius: 4px;
    }
  }
}

// .card .img_brand_restaurant {
//   width: 80px;
//   border-radius: 50%;
//   position: absolute;
//   left: 16px;
//   top: -5px;
// }

//RESTAURANT SHOW CARDS MEALS AND BEVERAGE//

.card-product {
  overflow: hidden;
  height: 120px;
  background: $gray1;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color:black;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color:$stg-gray;
}

.card-product .card-product-infos {
  padding: 16px;
  color:$stg-gray;
}

//RESTAURANT SHOW CARDS MEALS AND BEVERAGE//


/*Media Queries*/

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
    // grid-template-columns: 85px 1fr;
    // grid-column-gap: 20px;
    // cursor: pointer;
    // padding: 16px;
